.exercism
/rust/anagram/.idea
/rust/clock/.idea
/rust/space-age/.idea
/rust/sublist/.idea
/rust/minesweeper/.idea
others/exercise
/.idea
/rust/parallel-letter-frequency/target
/rust/parallel-letter-frequency/.idea
/rust/poker/.idea
/rust/forth/.idea
